<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.angrybeard.spiritssm.mapper.UserMapper">
    <select id="queryUserInfo" parameterType="string" resultType="org.angrybeard.spiritssm.bo.User">
      select id,`name`,age,photo
      from sys_user
      where name = #{name}
</select>
</mapper>